.header-part{
    background-color: rgb(165, 218, 148);
    display: flex;
    align-items: center;
    color:black;
    height: 50px;
    padding-left: 30px;
    width: auto;

}
.header h2{
    margin-left: 20px;
}

