.header-part{
    background-color: black;
    display: flex;
    align-items: center;
    color:blueviolet;
    height: 50px;
    padding-left: 30px;
    width: auto;

}
.header h2{
    margin-left: 20px;
}

