.details-exercise{
    padding: 20px;
}
.weight-info
{
display: flex;
background-color: rgb(225, 231, 231);
padding: 5px 10px;
}
.weight-info p{
    margin: 10px;
}

.break-time{
    display: flex;
    justify-content: center;
    background-color: rgb(225, 231, 231);
    padding: 5px 10px;
}
.break-time p{
   margin: 5px;
   background-color: aqua;
   padding: 5px;
   border-radius: 10px;
}
.break-time p:hover{
    background-color: yellowgreen;

 }
.button
{
    padding: 10px 80px;
    border: 0;
    background-color: sandybrown;
}