.details-exercise{
    padding: 20px;
}
.weight-info
{
display: flex;
background-color: rgb(225, 231, 231);
padding: 5px 10px;
}
.weight-info p{
    margin: 10px;
}

.break-time{
    display: flex;
    justify-content: center;
    background-color: rgb(225, 231, 231);
    padding: 5px 10px;
}

.button
{
    color:white;
    font-size:medium;
    font-weight: bold;
    padding: 10px 80px;
    border: 0;
    border-radius: 5px;
    background-color: rgb(38, 162, 27);
}


.details-exercise img{

    width:50px;
    height: 50px;
    border-radius: 50px;
}
.info {
    display: flex;
    align-items: center;
    height: 100px;
    margin-bottom: 40px;
}
.name-address
{
    margin-left:25px;
    
}
