.heading
{
    font-size: 40px;
    
}
.activities-details{
    display: grid;
    grid-template-columns: 4fr 1fr;
    height: 100%;
   
}
.activity-info{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap:20px;
     padding: 100px 50px; 
}

.select-exercise{
display: block;
}
.exercise-details{
    background-color:
    rgb(220, 231, 240);
    

}

@media screen and (max-width:960px) {
    .activity-info{
        grid-template-columns: repeat(2,1fr);
    }
    .activities-details{
     
        grid-template-columns: 2fr 1fr;
       
    }
} 

@media screen and (max-width:500px) {
    .activity-info{
        grid-template-columns: repeat(1,1fr);
    }
    .activities-details{
     
        grid-template-columns: 1fr;
       
    }
} 



