.all-activity img
{
    width: 200px;
    height: 100px;
border-radius: 8px;
margin:7px;
}

.all-activity
{
    background-color: rgb(220, 231, 240);
    padding: 20px;
}
.all-activity button
{
    color:white;
    padding: 10px 80px;
    border: 0;
    background-color: rgb(38, 162, 27);;
}